
body {
    background-image: url(images/preview.jpg);
    background-size: contain;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

.pre-header {
    background-color: rgba(245, 250, 254, 0.1);
    display: flex;
    justify-content: baseline;
    font-size: 10px;
    height: 60px;
    
}

.questions {
    padding-top: 0.9%; 
    padding-left: 11.5%;
}

.btp {
    padding-top: 24px;
    padding-right: 265px; 
}

.loyalty{
    padding-top: 13.6px;
    padding-left: 533px;
}
