
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
/*start of top header adjustments */
.top-header {
    background-color: #F5F5F5;
    position: relative;
    bottom: 15px;
}
.content-top-left {
    position: relative;
    left: 90px;
    top: 22px;
    font-size: 14px;
   
}

#gift-header{
    position: relative;
    left: 1000px;
    bottom: 13px;
    font-size: 22px;
}

.BTP {
    position: relative;
    left: 1020px;
    bottom: 14px;
    font-size: 13px;

}

#star-header{
    position: relative;
    left: 1200px;
    bottom: 13px;
    font-size: 22px;
}

.Loyalty {
    position: relative;
    left: 1220px;
    bottom: 14px;
    right: 90px;
    font-size: 13px;
    
}
/*end of top header adjustments */

/*start of header adjustments*/
#logo {
    width: 150px;
    position: relative;
    left: 90px;
}

.txt {
    background-color: #F8F8F8;
    position: relative;
    bottom: 90px;
    left: 500px;
    width: 280px;
    height: 40px;

    border-radius: 20px;
    

}

.button-lens{
    position: relative;
    left: 470px;
    bottom: 90px;
    height: 46px;
    width: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: red;

}

#shopping-cart {
    
    position: relative;
    left: 1100px;
    bottom: 125px;
    font-size: 25px;
}

#profile {
    position: relative;
    left: 1200px;
    bottom: 165px;
    width: 35px;
}

figcaption {
    position: relative;
    left: 1215px;
    bottom: 180px;
    display: inline-block;
    vertical-align: middle;
}

#down-angle {
    position: relative;
    left: 1355px;
    bottom:220px;
    font-size: 33px;
}

.nav {
    position:relative;
    bottom: 160px;
    background-color: #0A223D;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 100px;
    float: left;
	margin: auto;
    
    
    
    
}

a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-left: 90px;
    padding-right: 90px;
    align-items: center;
    top: 20px;
   
}

a:hover {
    color: gray;
    text-decoration: underline;
    animation-duration: 1000ms;
    animation-direction: left;
    
}
